body {
    font-family: "Poppins", sans-serif;
    background-color: #d9d0c1;
}
.user-delivery {
    margin-top: 10%;
}
table,
th,
tr,
td {
    background-color: #d9d0c1 !important;
}
th {
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.3em;
}
#my_orders {
    font-family: "Londrina Solid", sans-serif;
    color: #1d1c1a;
}
