#content{
    padding-top: 5%;
}
   

.navbar {
    position: fixed;
}

.nav-item,
.dropdown-item {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d1c1a;
    
}
.nav-item{
    font-size: 3vh;
}

#n1 :hover {
    text-shadow: #2148d1 1px 1px 2px;
}
#n2 :hover {
    text-shadow: #ff3333 1px 1px 2px;
}
#n3 :hover {
    text-shadow: #fdd91f 1px 1px 2px;
}
#n4 :hover {
    text-shadow: #00bf63 1px 1px 2px;
}



#n1 :active {
    text-shadow: #2148d1 1px 1px 2px;
}
#n2 :active {
    text-shadow: #ff3333 1px 1px 2px;
}
#n3 :active {
    text-shadow: #fdd91f 1px 1px 2px;
}
#n4 :active {
    text-shadow: #00bf63 1px 1px 2px;
}

/* footer */
#icon_1 :hover {
    background: #2148d1;
    border-radius: 50%;
}
#icon_2 :hover {
    background: #ff3333;
    border-radius: 50%;
}
#icon_3 :hover {
    background: #fdd91f;
    border-radius: 50%;
}
#icon_4 :hover {
    background: #00bf63;
    border-radius: 50%;
}
